html,
body {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 2rem;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #0f0;
  font-size: 16px;
}

img {
  max-height: 8rem;
}
.titre_body {
  font-size: 3rem;
}

button {
  display: flex;
  justify-content: center;
  transform: translate(-50%, -50%);
  background-color: #ff00ff;
}
